<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> D&D 5e Character Builder</title>

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!-- We code here -->
		<div class="container text-center" >

				<div class="row">
					<h1>D&D Character Builder for 5e</h1>
				</div>
				<!--.row-->

				<div class="row">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>Classes</h3>
						</div>
						<div class="panel-body">
							<div class="col-xs-12">
									<div class="btn-group btn-lg btn-block dropdown">
										<button name="classButton" class="btn btn-info btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-hashpopup="true">
											Choose a class <span class="caret"></span>
										</button>
										<ul class="dropdown-menu  text-center dropdown-menu-center" aria-labelledby="dropdownMenu2">
											<li><a href="#" id="barbarian" onclick="selectedClass(this.id, this.innerHTML)">Barbarian</a></li>
											<li><a href="#" id="bard" onclick="selectedClass(this.id, this.innerHTML)">Bard</a></li>
											<li><a href="#" id="cleric" onclick="selectedClass(this.id, this.innerHTML)">Cleric</a></li>
											<li><a href="#" id="druid" onclick="selectedClass(this.id, this.innerHTML)">Druid</a></li>
											<li><a href="#" id="fighter" onclick="selectedClass(this.id, this.innerHTML)">Fighter</a></li>
											<li><a href="#" id="monk" onclick="selectedClass(this.id, this.innerHTML)">Monk</a></li>
											<li><a href="#" id="paladin" onclick="selectedClass(this.id, this.innerHTML)">Paladin</a></li>
											<li><a href="#" id="ranger" onclick="selectedClass(this.id, this.innerHTML)">Ranger</a></li>
											<li><a href="#" id="rogue" onclick="selectedClass(this.id, this.innerHTML)">Rogue</a></li>
											<li><a href="#" id="sorcerer" onclick="selectedClass(this.id, this.innerHTML)">Sorcerer</a></li>
											<li><a href="#" id="warlock" onclick="selectedClass(this.id, this.innerHTML)">Warlock</a></li>
											<li><a href="#" id="wizard" onclick="selectedClass(this.id, this.innerHTML)">Wizard</a></li>


    									<li role="separator2" class="divider"></li>
											<li><a href="#" id="none2" onclick="selectedClass(this.id, this.innerHTML)">Choose a class</a></li>
										</ul>
									</div>
							</div>
							<div class="col-xs-12"></div>
							<div class="col-xs-12"></div>
						</div>
					</div>
				</div>
				<!--.row-->

				<div class="row">
						<div class="panel panel-primary ">

							<div class="panel-heading">
								<h3>Point Buy System Calculator</h3>
							</div>
								
							<div class="panel-body" id="labels">
								
								<div class="col-xs-12" id="race">
									<div class="btn-group btn-lg btn-block dropdown">
										<button name="raceButton" class="btn btn-info btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-hashpopup="true">
											Choose a race <span class="caret"></span>
										</button>
										<ul class="dropdown-menu  text-center dropdown-menu-center" aria-labelledby="dropdownMenu1">
											<li><a href="#" id="human" onclick="selectedRace(this.id, this.innerHTML)">Human</a></li>
											<li><a href="#" id="dwarfHill" onclick="selectedRace(this.id, this.innerHTML)">Dwarf, Hill</a></li>
											<li><a href="#" id="dwarfMountain" onclick="selectedRace(this.id, this.innerHTML)">Dwarf, Mountain</a></li>
											<li><a href="#" id="elfHigh" onclick="selectedRace(this.id, this.innerHTML)">Elf, High</a></li>
											<li><a href="#" id="elfWood" onclick="selectedRace(this.id, this.innerHTML)">Elf, Wood</a></li>
											<li><a href="#" id="elfDrow" onclick="selectedRace(this.id, this.innerHTML)">Elf, Drow</a></li>
											<li><a href="#" id="halflingLightfoot" onclick="selectedRace(this.id, this.innerHTML)">Halfling, Lightfoot</a></li>
											<li><a href="#" id="halflingStout" onclick="selectedRace(this.id, this.innerHTML)">Halfling, Stout</a></li>
											<li><a href="#" id="dragonborn" onclick="selectedRace(this.id, this.innerHTML)">Dragonborn</a></li>
											<li><a href="#" id="gnomeForest" onclick="selectedRace(this.id, this.innerHTML)">Gnome, Forest</a></li>
											<li><a href="#" id="gnomeRock" onclick="selectedRace(this.id, this.innerHTML)">Gnome, Rock</a></li>
											<li><a href="#" id="halfElf" onclick="selectedRace(this.id, this.innerHTML)">Half-Elf</a></li>
											<li><a href="#" id="halfOrc" onclick="selectedRace(this.id, this.innerHTML)">Half-Orc</a></li>
											<li><a href="#" id="tiefling" onclick="selectedRace(this.id, this.innerHTML)">Tiefling</a></li>
    									<li role="separator" class="divider"></li>
											<li><a href="#" id="none" onclick="selectedRace(this.id, this.innerHTML)">Choose a race</a></li>
										</ul>
									</div>								
								</div>
								<!--.col-xs-12-->

								<div class="col-xs-12">
									<div class="col-xs-2 col-xs-offset-1">Base</div>
									<div class="col-xs-2">Racial bonus</div>
									<div class="col-xs-2">Score</div>
									<div class="col-xs-2">Modifier</div>
									<div class="col-xs-2">Cost</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="strength">
									<div class="col-xs-1 ">STR</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Str" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispStr" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Str" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costStr" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="dexterity">
									<div class="col-xs-1 ">DEX</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Dex" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispDex" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Dex" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costDex" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="constitution">
									<div class="col-xs-1 ">CON</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Con" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCon" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Con" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCon" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="intelligence">
									<div class="col-xs-1 ">INT</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Int" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispInt" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Int" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierInt" readonly>
									</div>
									<div class="col-xs-2">											
										<input type="text" class="form-control text-center" value="0" id="costInt" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="wisdom">
									<div class="col-xs-1 ">WIS</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Wis" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispWis" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Wis" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costWis" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="charisma">
									<div class="col-xs-1 ">CHA</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Cha" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCha" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Cha" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCha" readonly>
									</div>
								</div>
								<!--.col-xs-12-->

								<div class="col-xs-12">
									<div class="col-xs-2 col-xs-offset-7">
										<p>Remaining points: <br>(27 total)</p>
									</div>
									<div class="col-xs-2">
										<input id="remp" type="text" class="form-control text-center" value="27" readonly>
									</div>
								</div>
								<!--.col-xs-12-->

								<div class="col-xs-8">
									<div class="panel panel-info">	
										<div class="panel-heading">
											<h4>Details of race</h4>
										</div>
										<div class="panel-body">
										<div class="row">
											<div class="col-xs-4 col-xs-offset-7" id="raceImage"></div>
										</div>
										</div>
									</div>
								</div>
								<!--.Cost of points panel-->

								<div class="col-xs-4">
									<div class="panel panel-warning">	
										<div class="panel-heading">
											<h4>Cost of points</h4>
										</div>
										<div class="panel-body">
											<span class="text-left col-xs-12">
												Base: 8 - Cost: 0
											</span>
											<span class="text-left col-xs-12">
												Base: 9 - Cost: 1
											</span>
											<span class="text-left col-xs-12">
												Base: 10 - Cost: 2
											</span>
											<span class="text-left col-xs-12">
												Base: 11 - Cost: 3
											</span>
											<span class="text-left col-xs-12">
												Base: 12 - Cost: 4
											</span>
											<span class="text-left col-xs-12">
												Base: 13 - Cost: 5
											</span>
											<span class="text-left col-xs-12">
												Base: 14 - Cost: 7
											</span>
											<span class="text-left col-xs-12">
												Base: 15 - Cost: 9
											</span>
										</div>
									</div>
								</div>
								<!--.Cost of points panel-->								

								<div class="col-xs-4 col-xs-offset-8">
									<button type="button" class="btn btn-danger btn-block" onclick="clearing()">Clear all</button>
								</div>

							</div>
							<!--.panel-body-->
						</div>
						<!--.panel-->
				</div>
				<!--.row-->

				<div class="row">
					<footer class="col-xs-12">
						<p class="text-center">&copy; Angel copyright 2016</p></span>						
					</footer>
				</div>
				<!--.row-->

		</div>
		<!--.container-->

		<!-- JavaScript files should be linked at the bottom of the page -->
		<!-- jQuery -->
		<script src="jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Custom JavaScript file -->
		<script src="js/main.js"></script>
	</body>
</html>
