<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> D&D 5e Character Builder</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

		<!-- This is a custom CSS file -->
		<link rel="stylesheet" href="bootstrap/dist/css/main.css">
	</head>
	<body>
		<!-- We code here -->
		<div class="container text-center" >

				<div class="row">
					<h1>D&D Character Builder for 5e</h1>
				</div>
				<!--.row-->

				<div class="row">
						<div class="panel panel-default ">

							<div class="panel-heading">
								<h3>Point Buy System Calculator</h3>
							</div>
								
							<div class="panel-body" id="labels">

								<div class="col-xs-12" id="race">
									<div class="btn-group dropdown">
										<button class="btn btn-default btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-hashpopup="true">
											Choose a race <span class="caret"></span>
										</button>
										<ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenu1">
											<li><a href="#" id="human" onclick="selectedRace(this.id, this.innerHTML)">Human</a></li>
											<li><a href="#" id="dwarfHill" onclick="selectedRace(this.id, this.innerHTML)">Dwarf, Hill</a></li>
											<li><a href="#" id="dwarfMountain" onclick="selectedRace(this.id, this.innerHTML)">Dwarf, Mountain</a></li>
											<li><a href="#" id="elfHigh" onclick="selectedRace(this.id, this.innerHTML)">Elf, High</a></li>
											<li><a href="#" id="elfWood" onclick="selectedRace(this.id, this.innerHTML)">Elf, Wood</a></li>
											<li><a href="#" id="elfDrow" onclick="selectedRace(this.id, this.innerHTML)">Elf, Drow</a></li>
											<li><a href="#" id="halflingLightfoot" onclick="selectedRace(this.id, this.innerHTML)">Halfling, Lightfoot</a></li>
											<li><a href="#" id="halflingStout" onclick="selectedRace(this.id, this.innerHTML)">Halfling, Stout</a></li>
											<li><a href="#" id="dragonborn" onclick="selectedRace(this.id, this.innerHTML)">Dragonborn</a></li>
											<li><a href="#" id="gnomeForest" onclick="selectedRace(this.id, this.innerHTML)">Gnome, Forest</a></li>
											<li><a href="#" id="gnomeRock" onclick="selectedRace(this.id, this.innerHTML)">Gnome, Rock</a></li>
											<li><a href="#" id="halfElf" onclick="selectedRace(this.id, this.innerHTML)">Half-Elf</a></li>
											<li><a href="#" id="halfOrc" onclick="selectedRace(this.id, this.innerHTML)">Half-Orc</a></li>
											<li><a href="#" id="tiefling" onclick="selectedRace(this.id, this.innerHTML)">Tiefling</a></li>
    									<li role="separator" class="divider"></li>
											<li><a href="#" id="none" onclick="selectedRace(this.id, this.innerHTML)">None</a></li>
										</ul>
									</div>								
								</div>
								<!--.col-xs-12-->

								<div class="col-xs-12">
									<div class="col-xs-2 col-xs-offset-1">Base</div>
									<div class="col-xs-2">Racial bonus</div>
									<div class="col-xs-2">Score</div>
									<div class="col-xs-2">Modifier</div>
									<div class="col-xs-2">Cost</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="strength">
									<div class="col-xs-1 ">STR</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Str" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispStr" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Str" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costStr" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="dexterity">
									<div class="col-xs-1 ">DEX</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Dex" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispDex" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Dex" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costDex" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="constitution">
									<div class="col-xs-1 ">CON</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Con" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCon" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Con" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCon" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="intelligence">
									<div class="col-xs-1 ">INT</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Int" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispInt" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Int" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierInt" readonly>
									</div>
									<div class="col-xs-2">											
										<input type="text" class="form-control text-center" value="0" id="costInt" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="wisdom">
									<div class="col-xs-1 ">WIS</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Wis" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispWis" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Wis" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costWis" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
	
								<div class="col-xs-12" id="charisma">
									<div class="col-xs-1 ">CHA</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Cha" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCha" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Cha" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCha" readonly>
									</div>
								</div>
								<!--.col-xs-12-->
								
							</div>
							<!--.panel-body-->
						</div>
						<!--.panel-->
				</div>
				<!--.row-->

				<div class="row">
					<footer class="col-xs-12">
						<p class="text-center">&copy; Angel copyright 2016</p>
					</footer>
				</div>

		</div>
		<!--.container-->



		<!-- JavaScript files should be linked at the bottom of the page -->
		<!-- jQuery -->
		<script src="jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Custom JavaScript file -->
		<script src="bootstrap/dist/js/main.js"></script>
	</body>
</html>
