<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> D&D 5e Character Builder</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

		<!-- This is a custom CSS file -->
		<link rel="stylesheet" href="bootstrap/dist/css/main.css">
	</head>
	<body>
		<!-- We code here -->
		<div class="container text-center" >

				<div class="row">
					<h1>D&D Bootstrap Calculator</h1>
				</div>
				<!--.row-->

				<div class="row">
						<div class="panel panel-default ">

							<div class="panel-heading">
								<h3>Point Buy System</h3>
							</div>
								
							<div class="panel-body" id="labels">
								<div class="row">
									<div class="col-xs-2 col-xs-offset-1">Base</div>
									<div class="col-xs-2">Racial bonus</div>
									<div class="col-xs-2">Score</div>
									<div class="col-xs-2">Modifier</div>
									<div class="col-xs-2">Cost</div>
								</div>
								<!--.row-->
	
								<div class="row" id="strength">
									<div class="col-xs-1 ">STR</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Str" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispStr" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Str" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierStr" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costStr" readonly>
									</div>
								</div>
								<!--.row-->
	
								<div class="row" id="dexterity">
									<div class="col-xs-1 ">DEX</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Dex" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispDex" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Dex" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierDex" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costDex" readonly>
									</div>
								</div>
								<!--.row-->
	
								<div class="row" id="constitution">
									<div class="col-xs-1 ">CON</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Con" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCon" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Con" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCon" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCon" readonly>
									</div>
								</div>
								<!--.row-->
	
								<div class="row" id="intelligence">
									<div class="col-xs-1 ">INT</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Int" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispInt" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Int" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreInt" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierInt" readonly>
									</div>
									<div class="col-xs-2">											
										<input type="text" class="form-control text-center" value="0" id="costInt" readonly>
									</div>
								</div>
								<!--.row-->
	
								<div class="row" id="wisdom">
									<div class="col-xs-1 ">WIS</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Wis" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispWis" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Wis" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierWis" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costWis" readonly>
									</div>
								</div>
								<!--.row-->
	
								<div class="row" id="charisma">
									<div class="col-xs-1 ">CHA</div>
									<div class="col-xs-2 " >
										<div class="input-group" >
											<span class="input-group-btn">
												<button type="button" class="btn btn-info" id="Cha" onclick="decBase(this.id)">
													<span class="glyphicon glyphicon-minus" ></span>
												</button>
											</span>
											<input type="text" class="form-control text-center" value="8" id="dispCha" readonly>
											<span class="input-group-btn">
												<button type="button" class="btn btn-success" id="Cha" onclick="incBase(this.id)">
													<span class="glyphicon glyphicon-plus"></span>
												</button>
											</span>
										</div>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="racialCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="scoreCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="-1" id="modifierCha" readonly>
									</div>
									<div class="col-xs-2">
										<input type="text" class="form-control text-center" value="0" id="costCha" readonly>
									</div>
								</div>
								<!--.row-->

							</div>
							<!--.panel-body-->
						</div>
						<!--.panel-->
				</div>
				<!--.row-->



				<!--
				<div class="row">
					<button id="0" type="button" class="btn btn-info" onclick="myFunction(this.id)">0</button>
					<button id="." type="button" class="btn btn-info" onclick="myFunction(this.id)">.</button>
					<button id="equals" type="button" class="btn btn-success" onclick="calculate()">=</button>
					<button id="blank" type="button" class="btn btn-info">&nbsp;</button>
				</div>
				-->
				<!--.row-->

				<div class="row">
					<footer class="col-xs-12">
						<p class="text-center">&copy; Angel copyright 2016</p>
					</footer>
				</div>

		</div>
		<!--.container-->



		<!-- JavaScript files should be linked at the bottom of the page -->
		<!-- jQuery -->
		<script src="jquery/dist/jquery.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- Custom JavaScript file -->
		<script src="bootstrap/dist/js/main.js"></script>
	</body>
</html>
